@font-face {
    font-family: "Vazir";
    src: url("../fonts/Vazir.eot");
    src: url("../fonts/Vazir.ttf");
    src: url("../fonts/Vazir.woff");
    src: url("../fonts/Vazir.woff2");
}

body{
    font-family: "Vazir", "tahoma";
}